@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html,
body,
#root,
#container {
  background: #8ac4d0 !important;
  width: 100% !important;
  height: 100% !important;
}

main {
  background-color: #28527a !important;
  border-radius: 2rem !important;
  padding: 5rem !important;
  height: 34rem !important;
  box-sizing: content-box;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.5);
}

hr {
  background-color: white;
  height: 1.3rem;
}

#uno-heading {
  font-family: "Staatliches", cursive;
  color: #f4d160;
  font-size: 4rem;
  margin-bottom: 0rem !important;
}

#uno-subheading {
  color: #fbeeac;
  margin-bottom: 3rem;
}

#start-screen {
  height: 30rem;
  width: 40rem;
}

.tab-list {
  border-bottom: 0.25rem solid #8ac4d0;
  padding-left: 0;
  margin-bottom: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  background: black;
  font-size: 1.1rem;
  color: white;
  opacity: 0.2;
  border-radius: 0.125rem;
}

.tab-list-active {
  background-color: #8ac4d0;
  border: none;
  opacity: 1;
  color: black;
  font-weight: 600;
}

.tab-content {
  background-color: #162b3f;
  padding-top: 1rem;
  padding: 2rem 2rem;
  box-sizing: content-box;
}

.form-control {
  border-radius: 0.25rem !important;
  padding: 0.75rem !important;
  height: auto !important;
  background-color: rgb(21, 27, 37) !important;
  border-color: transparent !important;
  color: white !important;
}

.form-control:focus {
  border-color: #f4d16085 !important;
  box-shadow: 0 0 0.2rem 0rem #f4d160 !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 0.25 !important; /* Firefox */
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}

label {
  color: white;
}

button {
  background: #f4d160;
  padding: 1rem;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 0.125rem !important;
  transition: 0.1s all;
}

button:hover {
  box-shadow: 0 0 0.2rem 0rem #f4d160 !important;
  background: #f3d572;
}

#copyright-footer {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  padding: 0.5rem;
  width: 100%;
  color: #28527a;
}
